---
---

<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta property="og:title" content="Ethereal Workshop">
	<meta property="og:description" content="If they gave a prize for best downloads the winner would be him">
	<meta property="og:image" content="/preview.png">
	<meta property="og:url" content="https://dl.mrwork.shop/">
	<link rel="icon" type="image/png" href="/logo.png">
	<link rel="stylesheet" href="/style.css">
	<meta name="viewport" content="width=device-width">
	<meta name="generator" content={Astro.generator}>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<title>Ethereal Workshop</title>
  </head>
  <body>
	<img src="logo.png" width="16%">
    <h1>Ethereal Workshop</h1>
	<h3><a href="https://github.com/EtherealWorkshop/">https://github.com/EtherealWorkshop/</a><a href="https://discord.gg/Wbg4sT632Q">https://discord.gg/Wbg4sT632Q</a></h3>
	<h3>
		<h2>Projects</h2><h3>
		<button class="file" onclick="window.location.href='https://github.com/EtherealWorkshop/Aurora'"><p class="name" style="height: auto;"><img src="/Aurora.png">&nbsp;Aurora</p><p>ChromeOS Multishim</p></button>
		<button class="file" onclick="window.location.href='https://dl.mrwork.shop'"><p class="name" style="height: auto;"><img src="/download.png">&nbsp;Download Server</p><p>Mr. Workshop's Download Server</p></button>
		<button class="file" onclick="window.location.href='https://github.com/EtherealWorkshop/Mozzarella'"><p class="name" style="height: auto;"><img src="/mozz.png">&nbsp;Mozzarella</p><p>Crostini Utility Script</p></button>
		<button class="file" onclick="window.location.href='https://github.com/soap-phia/IRS'">Internet Recovery Shim<p>Depracated, use Aurora</p></button>
		<button class="file" onclick="window.location.href='https://github.com/xmb9/Priism'">Priism<p>Depracated, use Aurora</p></button>
	</h3>

	<h2>Members</h2><h3>
	<button class="file" onclick="window.location.href='https://github.com/soap-phia/" style="color:#ebaaee;"><p class="name"><img src="https://github.com/soap-phia.png">&nbsp;Sophia</p><p>Owner of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/xmb9/" style="color:#f9ed98;"><p class="name"><img src="https://github.com/xmb9.png">&nbsp;xmb9</p><p>Owner of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/AC3GT/" style="color:#7432bc;"><p class="name"><img src="https://images-ext-1.discordapp.net/external/hpBDMr1NNJ48MtIx7v0zObVr4aEp2eK4azxfqiYm4vE/%3Fsize%3D512/https/cdn.discordapp.com/avatars/917886650951008276/93e87e23accf97eacdaced608048fac2.png">&nbsp;Evie</p><p>Owner of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/epic-devices/" style="color:#FFFFFF;"><p class="name"><img src="https://github.com/epic-devices.png">&nbsp;EpicDevices</p><p>Owner of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/xXMariahScaryXx/" style="color:#ff1133;"><p class="name"><img src="https://github.com/xxmariahscaryxx.png">&nbsp;Mariah Carey</p><p>Admin of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/Synaptic-1234/" style="color:#ffff00;"><p class="name"><img src="https://github.com/synaptic-1234.png">&nbsp;Synaptic</p><p>Admin of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/simpansoftware/" style="color:#95c3fa;"><p class="name"><img src="https://github.com/simpansoftware.png">&nbsp;Simon</p><p>Member of Ethereal Workshop</p></button>
	<button class="file" onclick="window.location.href='https://github.com/DyingHynixMLC/" style="color:#32CD32;"><p class="name"><img src="https://github.com/DyingHynixMLC.png">&nbsp;kraeb</p><p>Member of Ethereal Workshop</p></button>
	</h3>
  </body>
</html>
