<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="images/logo.png" />
		<link rel="stylesheet" href="src/style.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
		<title>Ethereal Workshop</title>
	</head>
	<body>
		<script>
			if ('scrollRestoration' in history) {
				history.scrollRestoration = 'manual';
			}
			window.addEventListener('pageshow', () => {
				if (window.location.hash) {
				history.replaceState(null, '', window.location.pathname + window.location.search);
				}
			});
		</script>

		<div id="main">
<pre><code>
                  --==++++++==--                  
               -=****************=-               
            =+**********************+=            
          -+*########################*+-          
          =############################*=         
        == =#########**+=================-        
       =*+= +#%%%%*+-  ====    ............       
      =***+= +#%%*  =+******+=  =+********+.      
      +*****= =%+ -+**********+- :*********-      
     -*******= -  +############+  =********+.     
     =*######*+  :*#############: :*********:     
     =*#######*=  *#%%%%#%%%%%%*  =########*.     
      +#########+ -*%%%%%%%%%%*- :*########=      
      =##########*  =#%%%%%%#=  =*#########.      
       =##########**=  ====    -##########:       
        +#%%%%%%%%%%###*++*=  -##########=        
         +#%%%%%%%%%%%%%%%+  +#%%%%%%%%#-         
          =*%%%%%%%%%%%%%*= +%%%%%%%%%+:          
            +*%%%%%%%%%%*= =%%%%%%%%+-            
               =*%%%%%%=  *%%%%%%+:               
                  ==+*= .*##+=:.                  
</code></pre>
			<h2>Ethereal Workshop<span class="white">:<span class="geen">#</span>/<span class="cursor">_</span></span></h2>
	       	<a href="https://github.com/EtherealWorkshop/"><p>https://github.com/EtherealWorkshop/</p></a>
	        <a href="https://discord.gg/Wbg4sT632Q"><p>https://discord.gg/Wbg4sT632Q</p></a>
			<br>
			<div class="options">
				Select an option (use mouse to navigate, Click to select):
				<ul>
					<li><button onclick="location.hash = '#projects'">Projects</button></li>
					<li><button onclick="location.hash = '#members'">Members</button></li>
					<li><button onclick="location.reload(true)">Exit and Reboot</button></li>
				</ul>
			</div>
		</div>
		<div id="members">
			<h2>Members<span class="white">:<span class="geen">#</span>/<span class="cursor">_</span></span></h2>
				Select an option (use mouse to navigate, Click to select):
				<ul>
					<li><a href="https://github.com/xmb9/"><span style="color:#f9ed98;">xmb9 - Owner of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/soap-phia/"><span style="color:#ebaaee;">Sophia - Owner of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/AC3GT/"><span style="color:#7432bc;">Evie - Owner of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/epic-devices/"><span style="color:#3497da;">EpicDevices - Owner of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/Synaptic-1234/"><span style="color:#ffff00;">Synaptic - Staff Member of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/xXMariahScaryXx/"><span style="color:#ff1133;">Mariah Carey - Staff Member of Ethereal Workshop</span></a></li>
					<li><a href="https://discord.com/users/1316554498734424145"><span style="color:#1f344f;">Bardex - Member of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/simpansoftware/"><span style="color:#95c3fa;">Simon - Member of Ethereal Workshop</span></a></li>
					<li><a href="https://github.com/DyingHynicMLC/"><span style="color:#32CD32;">kraeb - Member of Ethereal Workshop</span></a></li>
					<li><button onclick="location.hash = '#main'">Return to Main Menu</button></li>
				</ul>
		</div>
		<div id="projects">
			<h2>Projects<span class="white">:<span class="geen">#</span>/<span class="cursor">_</span></span></h2>
				Select an option (use mouse to navigate, Click to select):
				<ul>
					<li><a href="https://github.com/EtherealWorkshop/Mozzarella">Mozzarella</a></li>
					<li><a href="https://github.com/xmb9/Priism">Priism</a></li>
					<li><a href="https://github.com/soap-phia/IRS">Internet Recovery Shim</a></li>
					<li><button onclick="location.hash = '#main'">Return to Main Menu</button></li>
				</ul>
		</div>
	</body>
</html>
